body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

/* HEADER */
.header{
    text-align:center;
    padding:18px;
    background:#111;
    color:white;
}
.logo{
    width:60px;
}

/* NAV */
.nav{
    background:#222;
    display:flex;
    justify-content:center;
    gap:20px;
    padding:12px;
}
.nav a{
    color:white;
    text-decoration:none;
    opacity:.6;
}
.nav a.active,
.nav a:hover{
    opacity:1;
}

/* BANNER */
.banner img{
    width:100%;
}
.banner{
    position:relative;
}
.banner-text{
    position:absolute;
    bottom:20px;
    left:20px;
    color:white;
    font-size:22px;
    font-weight:bold;
}

/* PRODUCTS */
.section{
    padding:20px;
}
.product-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}
.product-card{
    background:white;
    padding:12px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
}
.product-card img{
    width:100%;
}
button{
    margin-top:10px;
    padding:10px;
    background:#111;
    border-radius:8px;
    color:white;
    border:none;
}

/* CHECKOUT */
.checkout-box{
    background:white;
    padding:20px;
    border-radius:12px;
}
.qr-img{
    width:100%;
}
.btn-wa{
    margin-top:20px;
    background:#25D366;
    width:100%;
    padding:12px;
    border-radius:10px;
    color:white;
    font-size:17px;
}

/* WA FLOAT */
.wa-button{
    position:fixed;
    bottom:15px;
    right:15px;
    background:#25D366;
    padding:10px;
    border-radius:50%;
}
.wa-button img{
    width:34px;
}
